section .slider {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.slider-content {
  display: flex;
  height: auto;
  overflow: hidden;
  width: 400%;
}

.slider-content input {
  display: none;
}

.slide-box {
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;
  text-align: center;
  justify-content: space-around;
}

.slide-box img {
  height: 135px;
  width: 160px;
  border-radius: 5px;
}

.carousel-title {
  font-weight: 700;
  size: 20px;
  margin-left: 23px;
  margin-top: 25px;
}

.re-card {
  margin-top: 10px;
  width: 163px;
  height: 166px;
  border: solid 0.50px #B1B1B1;
  border-radius: 5px;
}

.re-card p {
  font-size: 12px;
  text-align: left;
  padding-left: 14px;
  padding-top: 6px;
}

.btns-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btns-carousel button {
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #FCC436;
  border: solid 1px #FCC436;
  color: white;

}